/* main layout */

.main-layout {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.full {
    grid-column: 1 / -1;
}

/* gallery  */

.gallery-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
    padding: var(--gallery-padding);
    margin: 0 auto;
}


/* editor  */
.editor-layout {
    margin: var(--canvas-margin);
    padding: 8px;
    height: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

/* about page */

.about-card {
    display: flex;
}