:root {

    /* palette */
    --clr1: #720e9e;
    --clr2: white;
    /* sizes */
    --site-width: max-content;
    --layout-padding: 1rem;
    --gallery-padding: 1px;
    --canvas-height: 300px;
    --logo-size: 1.2em;
    --canvas-margin: auto;
}