.collapsible {
    background-color: var(--clr1);
    color: var(--clr2);
}

.content {
    height: 0;
    scale: 0;
    overflow: hidden;
    transition: 0.5s;
}

.active {
    width: 100%;
    height: max-content;
    display:flex;
    scale: 1;
}