
.page-editor {
    height: 100%;
}
.tools-container {
    box-sizing: border-box;
    border: 3px solid var(--clr1);
    border-radius: 2em;
    padding: 1em;
    height: var(--canvas-height);
}

.tools-container-layout {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "add-text add-text add-text add-text add-line"
    ". move-up move-down delete ."
    "bigger-font smaller-font align-left align-center align-right"
    "font font font fill-color stroke-color"
    "download save save share share"
    ;
}

.tool-btn {
    box-sizing: border-box;
    height: 30px;
    margin: auto;
    padding: 0.2rem;
    width: 80%;
    text-align: center;
    border-radius: 2em;
    font-size: 1em;
    border: none;
    background-color: lavender;
    cursor: pointer;
}

.tool-btn img {
    object-fit: contain;
    width: 1em;
    margin-block: auto;
    margin-inline-end:0.3em;
}

.tool-btn:hover {
    background-color: var(--clr2);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tool-btn::before {
    font-family: fa-regular;
    margin-inline-end: 0.5em;
}

.tool-btn-large {
    box-sizing: border-box;
    padding-block-end: 2.5em;
}

.add-text-input {
    grid-area: add-text;
    margin: auto;
    width: 80%;
}

.add-line-btn {
    grid-area: add-line;
    background: none;
    color: var(--clr1);
    font-size: 1em;
    text-align: center;
}

.add-line-btn::before {
    content: '\2b'
}
.delete-line-btn {
    grid-area: delete;
}
.delete-line-btn::before {
    content: '\f2ed';
}

input[type="color"] {
    display:none;
}

.fill-color-label {
    grid-area: fill-color;
}
.stroke-color-label {
    grid-area: stroke-color;
    margin-inline-end: 0;
    width: 100%;
}

.bigger-font-btn {
    grid-area: bigger-font;
    margin-inline-start: 0;
}
.smaller-font-btn {
    grid-area: smaller-font;
}

.text-font-select {
    grid-area: font;
    width: 100%;
    /* margin-inline-start: 0; */
}

.move-line-up-btn {
    grid-area: move-up;
}

.move-line-down-btn {
    grid-area: move-down;
}

.move-line-down-btn img {
    transform: rotate(180deg);
}

.save-meme-btn {
    grid-area: save;
}

a.download-btn {
    grid-area: download;
    font-family: Lato, sans-serif;
    color: inherit;
    line-height: 33px;
    margin-inline-start: 0;
    width: 100%;
}

.download-btn img {
    margin-block-end: 2px;
}

.share-btn {
    grid-area: share;
    margin-inline-end: 0;
    width: 100%;
}

.share-btn img {
    width: 0.8em;
}

.align-left {
    grid-area: align-left;
}

.align-center {
    grid-area: align-center;
}

.align-right {
    grid-area: align-right;
    margin-inline-end: 0;
    width: 100%;
}