footer {
	background-color: var(--clr1);
	display: flex;
	justify-content: center;
}

footer .logo {
	/* order: 1; */
}

footer p {
	/* order: 2; */
}

footer .social-links-container {
	display: flex; 
	justify-content: center;
	/* order: 3; */
}

footer .img-container:hover {
	cursor: pointer;
	/* order: 3; */
}

footer .img-container.facebook:hover {
	background-color: #4267b2;
}

footer .img-container.twitter:hover {
	background-color: #1da1f2;
}