.gallery-header {
    display: grid;
    margin: auto;
    padding-top: 2rem;
    width: var(--gallery-size);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "keywords keywords "
    "search search "
    "upload feeling-lucky";
}

.upload {
    opacity: 0;
    pointer-events: none;
}

.upload-label {
    grid-area: upload;
    cursor: pointer;
}

.feeling-lucky-btn {
    grid-area: feeling-lucky;
    font-size: 1rem;
    align-self: end;
    margin-inline-end:0;
}

#keyword-search {
    grid-area: search;
    width: 100%;
    min-width: 15rem;
    text-align: center;
    margin-inline-start: 0;
}

.keywords-container {
    grid-area: keywords;
    margin: auto;
}

.keyword-btn:hover {
    color: var(--clr1);
}